{{ define "main" }}
<div class="container-fluid p-4">
<article class="post">
    <header>
        <h2>{{ .Title }}</h2>
        <p>
            By {{ .Params.Author }}
        </p>
        <p>
            Posted {{ .Date.Format "January 2, 2006" }}
            <span class="tags"> tagged in 
                {{ range .Params.tags }}
                <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </span>
        </p>
        <p>
            Reading time: {{ math.Round (div (countwords .Content) 200.0) }} minutes.
        </p>
    </header>

    <section class="body">
        {{ .Content }}
    </section>
</article>
</div>
{{ end }}