<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ .Site.Params.description }}">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <style>
     
     /* unvisited link */
a:link {
  color: #44449B;
  font-weight: 500;
}

/* visited link */
a:visited {
  color: #212221;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #212221;
}
@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
    .project-container { display: flex; }
    .project-container .project-list { width: 20%; }
    .project-container .project { flex: 1; }
}
 </style>
</head>