
    <header style="background-color: #212221;">
        <nav class="navbar navbar-expand-md" style="background-color: #DDEDF4;">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Portfolio & Blog</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Blog</a>
                  </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
              </ul>
            </div>
          </nav>
        <div class="jumbotron text-center text-light shadow" style="background-color:  #44449B;">
            <h1 class="display-4">{{ .Site.Title }}</h1>
          </div>
</header>


